@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import 'reset';
@import 'generic';
@import 'transition';
@import 'cases';
@import 'cover';
@import 'social';
@import 'tags';

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color:250 ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color:hsl(var(--hue-color), 60%, 99%) ;
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins',sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color:hsl(var(--hue-color),28%, 12%) ;
    --container-color: hsl(var(--hue-color),29%,16%);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}
.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    margin: 10px var(--mb-1) 0 20px;
}
.change-theme:hover{
    color:var(--first-color);

}

/*==================== BASE ====================*/
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
a{
    text-decoration: none;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}
.section__title{
    font-size: var(--h1-font-size);
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle{
    text-align: center;
}
.main-color{
    color: var(--first-color);
}
.h2{
    font-size: var(--h2-font-size);    
}
.h4{
    font-size: var(--h4-font-size);
}
.mb-1{
    margin-bottom: var(--mb-1) !important;
}
.mb-2{
    margin-bottom: var(--mb-2) !important;
}
.mt-2{
    margin-top: var(--mb-2);
}
/*==================== LAYOUT ====================*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__logo:hover{
    color: var(--first-color);
}
.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--first-color);
}
@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius:  1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}
.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__link:hover{
    color: var(--first-color);
}
.nav__icon{
    font-size: 1.2rem;
}
.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}
.nav__close:hover{
    color:var(--first-color-alt);
}
/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home{
    overflow: hidden;   
}
.home__container{
    gap: 1rem;
}
.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}
.home__social-icon:hover{
    color: var(--first-color-alt);
}
.home__blob{
    width: 200px;
    fill: var(--first-color);
}

.home__data{
    grid-column: 1/3;
}
.home__title{
    font-size: var(--big-font-size);
}
.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home__description{
    margin-bottom: var(--mb-2);
}
.home__scroll{
    display: none;
}
.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}
.home__scroll-button:hover{
    transform: translateY(.25rem);
}
.home__scroll-mouse{
    font-size: 2rem;
}
.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}
.home__scroll-arrow{
    font-size: 1.25rem;
}


/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    border: none;
}
.button__border{
    background-color: var(--container-color);
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 0;
    color: #000;
    font-size: 16px;
    padding: .5rem 2rem;
    font-weight: normal;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.button__border:hover{
    background-color: #000;
    color: var(--container-color);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}
/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/
.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
}
.qualification__calendar{
    font-size: var(--smaller-font-size);
    color:var(--text-color-light)
}
.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
} 
.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px ,-7px);
}
/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/

/*work section*/
.work__subtitle{
    max-width: 600px;
    padding: 0 .75rem;
    margin: 0 auto;    
}
.work__container{
    max-width: 640px;
    margin-bottom: var(--mb-1);
    p {
        margin-bottom: var(--mb-1);
    }
}

/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/
.contact__container{
    row-gap: 3rem;
}
.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}
.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}
.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contact__content{ 
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}
.contact__label{
    font-size: var(--smaller-font-size);
    color:var(--title-color);
}
.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border:none;
    outline: none;
    padding: .25rem .5rem .5rem 0;

}

/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (min-width:350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    .home__blob{
        width: 180px;
    }
    .qualification__data{
        gap: .5rem;
        justify-items: center;
    }
}
/* For medium devices */
@media screen and (min-width:568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }

    .home__img{
        order:1;
        justify-self: center;
    }
    .home__blob-img{
        width: 300px;
    }
    .contact__container{
        grid-template-columns: repeat(2,1fr);
    }
    .qualification__section{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}
@media screen and (min-width:768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
        padding: 0;
    }
    
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 270px;
    }
    
    .home__blob-img{
        width: 415px;
    }
    .qualification__section{
        grid-template-columns: .5fr;
    }
    
  
}

/* For large devices */
@media screen and (min-width:1024px){
    .header,
    .main{
        padding: 0;
    }
    .home__blob{
        width: 320px;
    }
    .home__content{
        grid-template-columns: max-content auto 1fr;
    }
    .home__blob-img{
        transform: translateX(1rem);
    }
    .home__social{
        transform: translateX(-6rem);
    }
    
    .home__subtitle {
        margin-top: var(--mb-1);
    }
    .home__img {
        justify-self: right;
    }
    .home__content{
        grid-template-columns: max-content max-content 1fr;
    }
    .contact__form{
        width: 460px;
    }
}
@media screen and (min-width:1200px){
    .nav {
        max-width: 1024px;
    }
    .container{
        max-width: 968px;
    }
    .work__container{
        max-width: 768px;
    }
    .work-detail__container{
        max-width: 1200px;
    }
}

section{
    animation: slide-up-fade-in .8s ease forwards;
    transition: all .8s ease;
    position: relative;
}
@keyframes slide-up-fade-in {
   0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

