{{ define "main" }}
<section class="work section mt-5" id="work">
    <h2 class="section__title">{{ .Title }}</h2>
    <span class="section__subtitle work__subtitle h4 mb-1">{{ .Description }}</span>
    <div class="c-cases px-3">
    {{ range sort (where .Site.Pages "Type" "work") ".Params.index" "asc"  }}
    	{{ if  ne .Title "Work" }} 
		    <a
		    	href="/work/{{ .Params.slug }}"
		      	class="c-case enter-fade-up enter-delay-1 background-gradient"
		      	data-color="{{ .Params.color }}"
		    >
		      <div
		        class="c-case__image"
		        style="background-image: url('{{ .Params.thumb_image }}')"
		      >
			  </div>
		      <div class="c-case__info" style="background: {{ .Params.color }}">
		        <div class="c-case__title">{{ .Title }}</div>
		        <div class="c-case__subtitle">{{ .Params.job_type }}</div>
		      </div>
		    </a>
    	{{end}}
    {{ end }}

	</div>
 </section>
{{ end }}