<div class="c-social container work__container">
    <h3 class="c-social__title">
      <div class="c-social__primary">
        Want to know more? Looking for something similar?
      </div>
      <div class="c-social__secondary">
        Find me online or
        <a href="/contact">get in touch</a>
      </div>
    </h3>
    <ul class="c-social-links">
      <li class="c-social-links__item">
        <a
          href="{{ .Site.Params.linkedin }}"
          target="_blank"
          rel="noopener"
        >
          <i class="fab fa-linkedin c-social-links__icon"></i>
          <span class="c-social-links__label">Linkedin</span>
        </a>
      </li>
      <li class="c-social-links__item">
        <a href="{{ .Site.Params.dribbble }}" target="_blank" rel="noopener">
          <i class="fab fa-dribbble c-social-links__icon"></i>
          <span class="c-social-links__label">Dribbble</span>
        </a>
      </li>
      <li class="c-social-links__item">
        <a
          href="{{ .Site.Params.github }}"
          target="_blank"
          rel="noopener"
        >
          <i class="fab fa-github c-social-links__icon"></i>
          <span class="c-social-links__label">Github</span>
        </a>
      </li>
    </ul>
  </div>