{{ define "main" }}
<section class="contact section mt-5" id="contact">
    <h2 class="section__title">{{ .Title }}</h2>
    <span class="section__subtitle">{{ .Params.subtitle }}</span>

    <div class="contact__container container grid">
      <div>
        <div class="contact__information">
          <i class="fas fa-phone-alt contact__icon"></i>
          <div>
            <h3 class="contact__title">Call Me</h3>
            <span class="contact__subtitle">{{ .Site.Params.phone }}</span>
          </div>
        </div>
        <div class="contact__information">
          <i class="fas fa-envelope contact__icon"></i>
          <div>
            <h3 class="contact__title">Email</h3>
            <span class="contact__subtitle">{{ .Site.Params.email }}</span>
          </div>
        </div>
        <div class="contact__information">
           <i class="fas fa-map contact__icon"></i>
          <div>
            <h3 class="contact__title">Location</h3>
            <span class="contact__subtitle">{{ .Site.Params.location }}</span>
          </div>
        </div>
      </div>
      <form name="contact" action="" method="post" class="contact__form grid" data-netlify="true">
        <input type="hidden" name="form-name" value="contact" />
        <div class="contact__inputs grid">
          <div class="contact__content">
            <label for="" class="contact__label">Name</label>
            <input type="text" name="name" class="contact__input" required/>
          </div>
          <div class="contact__content">
            <label for="" class="contact__label">Email</label>
            <input type="email" name="email" class="contact__input" required/>
          </div>
          <div class="contact__content">
            <label for="" class="contact__label">Message</label>
            <textarea cols="0" name="message" rows="7" class="contact__input" required minlength="20"></textarea>
          </div>
          <div>
            <button type="submit" class="button button--flex">Send Message <uil-message class="button__icon" /></button>
          </div>
        </div>
      </form>
    </div>
  </section>
{{ end }}